/* Clearfix
  -------------------------------------------------------- */

	%clearfix {
		&:after {
	  	content: "";
	  	display: table;
	  	clear: both;
		}
	} 


/* Content wrappers
  -------------------------------------------------------- */

	// Wrappers (inside / full width)
	// -------------------------------

	.content-wrapper {
		@extend %clearfix;
		position: relative;

		// Inside (inside / max width)
		// -------------------------------

		.content {
			position: relative;
			margin: 0 auto;
			max-width: $max-width;
			padding: 0 $space*2;
		}
	}

	
/* Grids
-------------------------------------------------------- */

	// <ul class="grid">
	// 	<li class="grid-item grid-item_[width]">
	// 		<div class="grid-content">
	// 

	.grid {
		margin: 0 -10px;
		padding: 0;
		list-style-type: none;

		@media #{$bp-lrg, $bp-med} {
	  	display: flex;
	  	flex-wrap: wrap;
	  	justify-content: center;
	  }
	}

	.grid-item {
	  display: flex; 
	  padding: 0;
	  margin: 0 0 $space 0;
	  width: 100%;

	  .no-flexbox & {
	  	float: left;
	  }
	}

	.grid-item_full {
		width: 100%;
	}

	.grid-item_half {

		@media #{$bp-lrg, $bp-med} {
			margin-bottom: 0;
			width: 50%;
		}
	}

	.grid-item_third {

		@media #{$bp-lrg} {
			width: 33.33%;
		}

		@media #{$bp-med} {
			width: 50%;
		}	
	}

	.grid-item_forth {

		@media #{$bp-lrg} {
			width: 25%;
		}

		@media #{$bp-med} {
			width: 33.33%;
		}	
	}

	.grid-content { 
	  display: flex;
	  flex-direction: column;
	  align-self: flex-start;  
	  padding: 0;
	  margin: 0 10px;
	  width: 100%;

	  img {
	  	display: block;
	  }
	}