/* Clearfix
  -------------------------------------------------------- */

	%clearfix {
		&:after {
	  	content: "";
	  	display: table;
	  	clear: both;
		}
	} 


/* Content wrappers
  -------------------------------------------------------- */

	// Wrappers (inside / full width)
	// -------------------------------

	.content-wrapper {
		@extend %clearfix;
		position: relative;

		// Inside (inside / max width)
		// -------------------------------

		.content {
			position: relative;
			margin: 0 auto;
			max-width: $max-width;
			padding: 0 $space*2;
		}
	}



/* Grids
-------------------------------------------------------- */

	// <ul class="grid">
	// 	<li class="grid-item grid-item_[width]">
	// 		<div class="grid-content">
	// 

	.grid {

		@media #{$bp-lrg, $bp-med} {
			display: flex;
	  	flex-wrap: wrap;
	  	margin: 0 0 0 -1.5em;
	  	//justify-content: center;
	  }
	}

	.grid-item {
		flex: 1;

		@media #{$bp-med, $bp-lrg} {
			padding: 0 0 0 1.5em;
		}

	  .no-flexbox & {
	  	float: left;
	  }
	}

	.grid-item_full {
		flex: 0 0 100%;
	}

	.grid-item_half {

		@media #{$bp-lrg, $bp-med} {
			flex: 0 0 50%;
		}
	}

	.grid-item_third {

		@media #{$bp-lrg} {
			flex: 0 0 33.3333%;
		}

		@media #{$bp-med} {
			flex: 0 0 50%;
		}	
	}

	.grid-item_forth {

		@media #{$bp-lrg} {
			flex: 0 0 25%;
		}

		@media #{$bp-med} {
			flex: 0 0 33.3333%
		}	
	}

	.grid-content { 
	  display: flex;
	  flex-direction: column;
	  align-self: flex-start;  
	  padding: 0;
	  margin: 0 10px;
	  width: 100%;

	  img {
	  	display: block;
	  }
	}