/*==============================================================

Site header

File: SCSS Partial (/scss/partials/_site-header.scss)
Compiled to: css/global.css
Created: 12/09/2016
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Every within <header class="site-header" role="banner">
Author: Back to Front
Author URI: http://backtofront.london

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/