/*==============================================================

Site footer

File: SCSS Partial (/scss/partials/_site-footer.scss)
Compiled to: css/global.css
Created: 12/09/2016
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Every within <footer class="site-footer" role="contentinfo">
Author: Back to Front
Author URI: http://backtofront.london

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/